@import "~materialize-css/dist/css/materialize.min.css";

#root {
  min-width: 600px;
}

/* Text style Start*/
.center {
  text-align: center;
}

.bold {
  font-weight: bold;
}

.icon {
  font-size: 30px;
  color: #00796b;
  margin-right: 10px;
  cursor: pointer;
}

/* Text style End*/

.container {
  min-width: 500px;
  width: 100%;
}

.auth-form {
  margin: auto auto;
  min-width: 250px;
  max-width: 500px;
}

.waves-effect.waves-light.btn {
  margin-right: 10px;
}

input.white-input {
  color: white;
}

/* NavBar */
.nav-wrapper {
  padding: 0 20px;
}

/* Link input form Start*/
.link-input {
  margin: 100px auto;
  max-width: 500px;
}

.link-submit-button {
  margin: 15px;
}

/* Link input form end */

.loader {
  position: absolute;
  top: 45%;
  left: 45%;
}

/* LinksPage table  start */

table.links-list {
  padding: 20px;
  width: 100%;
  max-width: 1000px;
  margin: 0 auto;
}

.links-list th {
  text-align: center;
}

td.icons {
  min-width: 100px;
}

td.original-url {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 100%;
  max-width: 200px;
}

td.short-url {
  padding: 0 10px;
  width: 100%;
}

/* LinksPage table end */
