@import "~materialize-css/dist/css/materialize.min.css";

.auth-form {
  margin: auto auto;
  min-width: 250px;
  max-width: 500px;
}

.waves-effect.waves-light.btn {
  margin-right: 10px;
}

input.white-input {
  color: white;
}

/* NavBar */
.nav-wrapper {
  padding: 0 20px;
}
