@import "~materialize-css/dist/css/materialize.min.css";

/* Text style Start*/
.center {
  text-align: center;
}

.bold {
  font-weight: bold;
}

.info {
  font-size: 30px;
  color: #00796b;
}

/* Text style End*/

.container {
  min-width: 300px;
}

.auth-form {
  margin: auto auto;
  min-width: 250px;
  max-width: 500px;
}

.waves-effect.waves-light.btn {
  margin-right: 10px;
}

input.white-input {
  color: white;
}

/* NavBar */
.nav-wrapper {
  padding: 0 20px;
}

/* Link input form */
.link-input {
  margin: 100px 20px;
}

.link-submit-button {
  margin: 15px;
}

.loader {
  position: absolute;
  top: 45%;
  left: 45%;
}
